.OrderDetails {
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.45);
    width: 30%;
    padding: 30px;
    border-radius: 15px;
    margin-right: 30px;
}
.Visible {
    display: block;
}
.Hidden {
    display: none;
}
