.OrderDetailsItem {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
}
h6 {
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
}
span {
    margin-right: 10px;
    font-size: 16px;
}
