.FoodMenu {
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.45);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}
h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
}
