.FoodItem {
    display: flex;
    width: 48%;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.45);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
    align-items: center;
    padding: 0 20px;
}
img {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 50%;

}
.FoodInfo {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
h4 {
    margin: 0;
    margin-bottom: 20px;
}
p {
    margin: 0;
}
